*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #0F0F0F;
    color: white;
    font-family: "メイリオ", Meiryo, sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* nav */
.nav,
.nav_menu {
    display: none;
}
.nav {
    color: white;
    position: fixed;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    font-weight: var(--weight-semi-bold);
    transition: all 0.3s ease-in-out;
    display: flex;
    opacity: 0;
}
.nav_logo {
    cursor: pointer;
    margin: 10px;
}
.nav_menu {
    display: flex;
    transition: all 0.3s ease-in;
}
.nav_item {
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav_toggle_button {
    display: none;
}
.scroll_to_top_button {
    position: fixed;
    font-size: 30px;
    width: 50px;
    height: 50px;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.show {
    opacity: 1;
}
/* cover */
.cover {
    width: 100%;
    color: white;
    background: url(times_square.jpg) center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.cover_text {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.cover_text_desc {
}
.cover_about_button {
    background-color: unset;
    border: 2px solid white;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 1000;
    cursor: pointer;
}
.cover_about_button:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 1000;
    transition: all 0.3s ease-in;
}
.about, .project, .closing, .contact {
    max-width: 1440px;
    border-bottom: 1px solid white;
}
.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.about_text {
    padding: 5%;
}
.dummy {
    padding: 5%;
    text-align: center;
    border-bottom: 1px solid white;
}
.project_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.project_item_left {
    padding: 2.5%;
    flex: 1;
    min-width: 300px;
}
.project_item_right {
    padding: 5%;
    flex: 1;
    min-width: 300px;
}
.project_item_title {
    font-weight: bold;   
}
.project_item_date {
    text-align: right;
}
.project_item_pic {
    min-height: 170px;
}
.project_item_pic img {
    border-radius: 10px;
    width: 100%;
}
.no_image {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    line-height: 170px;
    font-size: 1.5rem;
}
.closing {
    padding: 5%;
    text-align: center;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
}
.contact_info {
    text-align: center;
    margin-top: 5px;
}
.contact_info > li {
    cursor: pointer;
}
.contact_rights {
    margin-top: 5px;
}
ul, li {
    all: unset;
}
